{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'message/message_home.css' %}?v={{Time}}">
{% endblock css_content %}
{% block content %}
<div class="message-main">
    <div class="message-user">
        {% include "base/search_bar.html" %}
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium excepturi itaque amet, cum alias totam in, fuga, culpa enim sit eos debitis illo! Tempore, delectus consectetur ullam odio veniam eos.
    </div>
    
    
    
    <div class="message-box">
        <div class="sender-profile">{{sender.username}}</div>
        {% for obj in message_obj  %}
        <div class="message-sender-receiver">
         {{obj}}
        </div>
        {% endfor %}
        <div>{{receiver.username}}</div>
    </div>
    <div class="message-send">
        <form  method="POST" action="" class="message-form">
            {% csrf_token %}
            <input type="text" placeholder="Enter your message here" name="message" class="message">
            <input type="submit" class="message-btn">
        </form>
    </div>
</div>
{% endblock content %}









