{% extends "base/main.html" %}
{% load static %}
{% block css_content %}
<link rel="stylesheet" href="{% static 'message/message_home.css' %}?v={{Time}}">
{% endblock css_content %}
{% block content %}
<div class="message-main">
    <div class="message-user">
        {% include "base/search_bar.html" %}
    </div>
    <div class="message-box">
        <div class="receiver-profile">{{receiver.username}}</div>
        {% for obj in message_obj  %}
        <div class="message-sender-receiver">
         <h1>{{obj.text}}</h1> <p>{{obj.</p>
        </div>
        {% endfor %}
        
    </div>
    <div class="message-send">
        <form  method="POST" action="" class="message-form">
            {% csrf_token %}
            <input type="text" placeholder="Enter your message here" name="message" class="message">
            <input type="submit" class="message-btn">
        </form>
    </div>
</div>
{% endblock content %}









