.form_box{
    border: 2px solid rgb(211, 211, 13);
    padding: 20px 20px 20px 20px;
    margin: 50px 350px 80px 230px;
    white-space:calc();
    text-transform: capitalize;
    row-gap:initial;
    background-color: aqua;
    line-height: 25px;


}
.all_box{
    align-items: center;
}
input{
    size: 7px;
    align-items: center; 
    font-size:medium;
    line-height: 7px;
    letter-spacing: 2px;
}
    table{
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 2px solid black;
    padding: 12px 12px 12px 12px ;
    text-align: center;
    font-size:large;
}
.dish_box {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
    padding: 12px 12px 12px 12px ;
    text-align: center;
    font-size:large;
}
.submit{
    margin-left: 60px;
    margin-top: 10px;
    color:black;
    inline-size: 120px;
}
.search{
    align-items: center;
    justify-content: center;
    margin-left: 180px;
    margin-top: 60px;
}